<div id="tokengate-hive-app" data-product_id="{{ product.id }}"></div>
<script async type="module" src="{{ "index.js" | asset_url }}"></script>

{% schema %}
  {
    "name": "Tokengate",
    "target": "section",
    "templates": ["product"],
    "settings": []
  }
{% endschema %}
